﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ADMINISTRADOR.aspx.cs" Inherits="PROYECTO1_VACAS.ADMINISTRADOR" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        	<nav class="navbar navbar-dark bg-dark">

                      <asp:Button ID="Button1" runat="server" Text="Log out" BackColor="#3399FF" BorderColor="#66FF66" OnClick="Button1_Click"  />

                <asp:Button ID="Button8" runat="server" Text="CREAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66" OnClick="Button8_Click"  />
                  <asp:Button ID="Button3" runat="server" Text="ELIMINAR O MODFICAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66" OnClick="Button3_Click"   />
                <asp:Button ID="Button4" runat="server" Text="GESTIONAR METAS" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                <asp:Button ID="Button10" runat="server" Text="INGRESAR VEHICULO " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False" OnClick="Button10_Click"  />
	           <asp:Button ID="Button2" runat="server" Text="ASIGNAR VEHICULO " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False" OnClick="Button2_Click"  />
                  <asp:Button ID="Button5" runat="server" Text="CREAR CATEGORIA " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False" OnClick="Button5_Click"  />
                  <asp:Button ID="Button7" runat="server" Text="INGRESAR PRODUCTOS A SISTEMA " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False" OnClick="Button7_Click"  />
                 
                <asp:Button ID="Button9" runat="server" Text="GESTIONAR PRODUCTOS " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                <asp:Button ID="Button6" runat="server" Text="VER INVENTARIOS " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False" OnClick="Button6_Click"  />
                  <div style="text-align:right">
                  </div>
                 
	  	        

      
</nav>
        <div class="jumbotron">
        <h1 align="center">Bienvenido</h1>
            <p align="center">SIENDO ADMNISTRADOR TENDRAS MUCHAS RESPONSABILIDADES TIENES QUE HACERLO LO MEJOR QUE PUEDAS</p>
   </div>

       
    </form>
</body>
</html>
