﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cargaxml.aspx.cs" Inherits="PROYECTO1_VACAS.cargaxml" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <table>
          <tr>
					<th>
                <asp:Button ID="for" runat="server" Text="REGRESAR" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  /></th>
    </table>
        </div>
        <h1 ALIGN="center">CARGA MASIVIA</h1>
        <div>

            <table>
            <tr>
                <th>
                    CARGA</th>
                <td>
                    <asp:FileUpload ID="FileUpload1" runat="server" />

                </td>


            </tr>
              <tr>
                <td>
                   </td>
                <td>
                    <asp:Button ID="BUTONXML" runat="server" Text="CARGAR" Width="114px" OnClick="BUTONXML_Click"   />

                </td>


            </tr>
          
             



    </table>

        </div>
    </form>
</body>
</html>
