﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ConsultarEmpleado.aspx.cs" Inherits="PROYECTO1_VACAS.ConsultarEmpleado" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        	<nav class="navbar navbar-dark bg-dark">

                      <asp:Button ID="Button1" runat="server" Text="Log out" BackColor="#3399FF" BorderColor="#66FF66"  />

                <asp:Button ID="Button8" runat="server" Text="CREAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66"  />
                  <asp:Button ID="Button3" runat="server" Text="ELIMINAR O MODFICAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66"   />
                <asp:Button ID="Button4" runat="server" Text="GESTIONAR METAS" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
	           <asp:Button ID="Button2" runat="server" Text="ASIGNAR VEHICULO " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                  <asp:Button ID="Button5" runat="server" Text="CREAR CATEGORIA " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                  <asp:Button ID="Button7" runat="server" Text="INGRESAR PRODUCTOS A SISTEMA " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                 <asp:Button ID="Button6" runat="server" Text="ASIGNAR PRODUCTO A CATEGORIA " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                <asp:Button ID="Button9" runat="server" Text="GESTIONAR PRODUCTOS " BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                  <div style="text-align:right">
                  </div>
                 
	  	        

      
</nav>


        <div class="jumbotron">
        <h1 align="center">EMPLEADOS&nbsp;</h1>
            <p align="center">&nbsp;</p>
             <asp:GridView ID="empleado" runat="server" OnSelectedIndexChanged="GridView1_SelectedIndexChanged"></asp:GridView>
   </div>
          <div class="jumbotron">
        <h1 align="center">PRODUCTOS&nbsp;</h1>
            <p align="center">&nbsp;</p>
             <asp:GridView ID="producto" runat="server" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
                 

             </asp:GridView>
   </div>


    </form>
</body>
</html>

