﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="REGISTROSUPERVISOR.aspx.cs" Inherits="PROYECTO1_VACAS.REGISTROSUPERVISOR" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffff00;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #87ceeb;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #808080;
  font-size: 14px;
  
  cursor: pointer;
}

.button{
  background-color: #87ceeb; 
  color: black; 
  border: 2px solid black;
}

.button:hover {
  background-color: #4CAF50;
  
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background: 	#C0C0C0; 
  
}

    </style>
</head>
<body>

   <div class="login-page">

  <div class="form">
    
    <form class="login-form" runat="server">
        <h1>SUPERVISOR</h1>
      
  

 
     <input type="text" id="nombreempleado" placeholder="Nombre" value=""/>
     <input type="text" id="fechanaciemiento" placeholder="FecahaNacimiento" value=""/>
     <input type="text" id="direccionempleado" placeholder="DIreccion" value=""/>
     <input type="text" id="telempleado" placeholder="Tel" value=""/>
       <label for="cars">Tipo:</label>
  <select id="cars" name="cars">
    
    <option value="R">Recursos Humanos</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
    <input type="text" id="dpiempleado" placeholder="DPI" value=""/>
       
    <asp:Button ID="Button1"  runat="server" Text="Aguardar"  class="button" />
    <asp:Button ID="Button8" runat="server" Text="Regresar"   class="button"/>
         
   
    </form>
     
  </div>
</div>
</body>
</html>
