﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Supervisor.aspx.cs" Inherits="PROYECTO1_VACAS.Supervisor" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        	<nav class="navbar navbar-dark bg-dark">

                      <asp:Button ID="Button1" runat="server" Text="Log out" BackColor="#3399FF" BorderColor="#66FF66"  />

                <asp:Button ID="Button8" runat="server" Text="CREAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66"  />
                  <asp:Button ID="Button3" runat="server" Text="ELIMINAR O MODFICAR USUARIO"  BackColor="#3399FF" BorderColor="#66FF66"   />
                <asp:Button ID="Button4" runat="server" Text="CONSULTAR METAS" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
	          <asp:Button ID="Button2" runat="server" Text="MODIFICAR DATOS" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                  <asp:Button ID="Button5" runat="server" Text="MODIFICAR DATOS" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                 <asp:Button ID="Button6" runat="server" Text="GENERAR VENTA" BackColor="#3399FF" BorderColor="#66FF66" CausesValidation="False"  />
                  <div style="text-align:right">
                  </div>
                 
	  	        

      
</nav>
        <div class="jumbotron">
        <h1 align="center">Bienvenido</h1>
        <p class="lead">Bienvenidos aqui se podra hacer todos los cambios necesarios

        </p>
   </div>
    </form>
    <p class="lead">
        &nbsp;</p>
</body>
</html>
